/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-image: linear-gradient(to bottom right, #0c7bb3 0%, #f2bae8 100%);
}

.eli-form-box-shadow {
  box-shadow: 2px 2px 3px 1px rgb(19, 59, 78);
}

.eli-gradient {
  background-color: #b1bfd8;
  background-image: linear-gradient(315deg, #b1bfd8 0%, #728fc5 74%);
}

.eli-gradient-2 {
  background-color: #7f5a83;
  background-image: linear-gradient(to bottom right, #7f5a83 0%, #1a5f91 74%);
}
.eli-gradient-2:hover {
  background-color: #7f5a83;
  background-image: linear-gradient(to bottom right, #7f5a83 0%, #0f3c5c 74%);
}

.eli-gradient-3 {
  background-color: #b1bfd8;
  background-image: linear-gradient(to top, #b1bfd8 0%, #8fabdf 74%);
}

.eli-color {
  color: aliceblue;
}

nav {
  color: aliceblue;
}

.eli-input-box {
  background-color: rgba(255, 255, 255, 0.85);
}

.right-profile {
  position: relative;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 28px;
  min-width: 150px;
  z-index: 1;
}
.right-profile:hover .dropdown-menu {
  display: block;
}
